[2021-08-18 16:18] adamjtaylor opened #4 "Image is ome-tiff"
### Attribute to Validate
Specify the attribute that you would like validation rule to apply to
**Data Type**: Imaging level 2
**Attribute**: Filename

### Validation Rule
Specify the validation rule, please refer to this document in the [Schema Hub](https://github.com/Sage-Bionetworks/schematic/pull/509)
`regex search .ome.tif{1,2}$`

### How important is this validation? Select from the options

[2021-08-18 17:36] milen-sage opened #5 "Adding "Custom" and "Other" to the list of sequence aligners for bulk RNA-seq and DNA-seq metadata"
Per Dave Gibbs request, the feature/attribute to be updated is Alignment Workflow Type.

[2021-12-13 19:19] milen-sage commented on #5
Similarly add changes to level 3 RNA-seq and DNA-seq components.

[2022-01-19 15:42] rrchai opened #15 "Add CI/CD workflow to convert csv to jsonld"
Add CI/CD workflow to convert data model from `csv` to `jsonld`. It will benefit when users push changes of csv file and also avoid the errors from users' own conversion process.

### How important is this feature? Select from the options below:
• Medium - can do work without it; but it's important (e.g. to save time or for convenience)

### When will use cases depending on this become relevant? S

[2022-01-19 16:35] #5 closed

[2022-01-19 16:35] milen-sage commented on #5
See #14

[2022-02-10 12:55] adamjtaylor opened #20 "PhysicalSizeYUnit duplicated and PhysicalSizeZUnit missing"
The attribute `PhysicalSizeYUnit` appears twice in the model but `PhysicalSizeZUnit` is missing.
Presumably a typo from translating from the RFC into the schema spreadsheet.

[2022-02-10 13:00] adamjtaylor commented on #20
`PhysicalSizeYUnit` appears as the attribute name for both line 107 and 109 of the `HTAN_model.csv`.
Line 109 should be changed to `PhysicalSizeZUnit`

[2022-02-15 15:27] adamjtaylor opened #21 "WorkingDistanceUnit is required but WorkingDistance is not"
This is causing confusion for data submitters
From `dcc-uploads-duke` slack:

Can we we set WorkingDistanceUnit to not be required?

[2022-03-01 15:06] adamjtaylor opened #23 "Proposed data validation rules"
Please edit this markdown table to add potential HTAN validation rules that would improve data uniformity and user experience.

| Parent | Element | Effect | Rule/Regex | Issues/PRs |
|:-:|:-:|:-|:-:|:-:|
| All | HTAN * ID | Ensure HTAN ID format is followed | `r'^(((HTA\d*)_\d*)\_?\d*?)$'` | #13  |
| All | HTAN * ID | Ensure HTAN ID format is unique | Unsure how to do this | |
| ImagingLevel2 | F

[2022-03-02 13:19] adamjtaylor opened #24 "Case sensitive Other/other/OTHER"

[2022-03-04 22:58] #20 closed

[2022-03-04 22:58] #21 closed

[2022-04-06 12:17] adamjtaylor opened #25 "Remove date components from model"
The following components present a PHI risk... consider removal
Image Acquisition Date
Workflow Start Datetime
Workflow End Datetime

- [ ] Confirm if used in any submitted metadata
- [ ] Confirm if removed

[2022-04-06 12:21] adamjtaylor commented on #25
50 from SARDANA have workflow
30 from Vanderbilt have workflow dates

[2022-04-06 12:23] adamjtaylor opened #26 "Enforce "Days to/from" is integer"
Days to Birth
Days to Death
Days to Follow Up
Days to Adverse Event
Days to Comorbidity
Days to Progression
Days to Progression Free
Days to Recurrence
Days to Imaging
Days to Treatment End
Days to Treatment Start
Days to Last Follow up
Days to Last Known Disease Status
Days to Diagnosis

Library Preparation Days from Index
Single Cell Dissociation Days from Index
Sequencing Library Construction D

[2022-04-13 18:16] ecerami opened #27 "Diagnosis: Morphology is missing enumerated types"
Tier 1 Diagnosis:  Morphology is missing enumerated types.

Official enumerated types defined by the GDC are defined here:  https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id=diagnosis&anchor=morphology

[2022-04-25 14:47] adamjtaylor commented on #26
Comments added to Google Sheet [HTAN schema v22.02](https://docs.google.com/spreadsheets/d/1tBK7lBcWU3FvdB2awtHLWbRuK6od3k4h60grDzydX8k/edit?usp=sharing) for fields that need controlling and assigned to @elv-sb for modification

[2022-04-29 15:55] #15 closed

[2022-04-29 16:03] rrchai opened #29 "Link Sage-Bionetworks's data models template as upstream"

[2022-04-29 16:33] adamjtaylor commented on #26
Also tracked in [HTAN-57](https://sagebionetworks.jira.com/jira/servicedesk/projects/HTAN/queues/custom/1/HTAN-57

[2022-04-29 18:53] adamjtaylor opened #32 "Branch cleanup"
Cleanup any old hanging branches that relate to closed or abandoned PRs and issues.

[2022-05-03 14:42] adamjtaylor commented on #27
There are 81 distinct entries for `Morphology` submitted to date. Some of these are strings rather than morphology codes.

Is the proposal that we add the enumerated types into the valid values for this attribute?
[code]
<details open>
<summary>Query results</summary>

| Morphology |
| :------- |
| 8140/3 |
| 8461/3 |
| 85003 |
| Not Reported |
| 8520/3 |
| 8500/3 |
| 8260/3 |
| 9391/3 |
| 8522/3

[2022-05-03 17:45] #26 closed

[2022-05-04 12:14] adamjtaylor opened #35 "Add RPPA level 2 and antibody metadata to data model"
Following [RFC](https://docs.google.com/document/d/1OSZmTI7-1sj_fZYZ4ZS8SgEAQNIzFvLOWkfbNILhQ9Q/edit?usp=sharing)

[2022-05-04 12:47] adamjtaylor commented on #27
@elv-sb  and I agree that these will be added to the model

[2022-05-06 17:36] vthorsson opened #39 "Remove spurious line feeds from Description fields"
## Information
### Proposed change:

The Description field for "AJCC Clinical M" contains a line feed , separating
"Extent of the distant metastasis for the cancer based on evidence obtained from clinical"
and "assessment parameters determined prior to treatment."
This line feed does not seem to be in the originating reference CDE description

https://cdebrowser.nci.nih.gov/cdebrowserClient/cdeBro

[2022-05-06 17:41] vthorsson commented on #39
@adamjtaylor can you advise on how to also get this change into [HTAN schema v22.02](https://docs.google.com/spreadsheets/d/1tBK7lBcWU3FvdB2awtHLWbRuK6od3k4h60grDzydX8k/edit#gid=0)? Would it make sense to implement it there first, then do the .csv export and proceed with the steps above?
Or is the more usual procedure to import a csv to the gsheet?

[2022-05-06 18:20] sujaypatil96 opened #40 "Integration of schemasheets and linkml"
Tools being recommended:

* schemasheets: https://linkml.io/schemasheets/
* linkml: https://linkml.io/linkml/

The procedure that you can follow to integrate the above tools into your processes are:
* Learn schemasheets syntax, which in turn uses linkml syntax and port the contents from the current `HTAN.model.csv` file into a schemasheets conformant CSV
  * For example, an HTAN `Assay` would beco

[2022-05-09 12:08] adamjtaylor commented on #39
@vthorsson This "new" process is to open a PR editing the csv in a new branch. The google sheet will be retained for commenting and visualisation purposes only. The Google sheet now has a "latest" tab which automatically reflects the current data model in `main`. @elv-sb are still working out the exact process on release versioning/naming but we will clarify as we work it out!

[2022-05-09 12:57] adamjtaylor commented on #39
Helpfully this fix also makes the csv preview render properly in Github
![image](https://user-images.githubusercontent.com/14945787/167414687-92fd2032-398a-4208-bd60-2ba1324159a0.png)

[2022-05-11 04:32] vthorsson commented on #39
Thanks @adamjtaylor  for the background material above. Good to know that removing pesky line feeds will take care of various other things

[2022-05-11 11:51] adamjtaylor opened #42 "Add Imaging Level 1"
### Proposed change:

Add Imaging Level 1 following closure of RFC

---
### Discussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*

[Imaging Level 1 RFC document](https://docs.google.com/document/d/1Mw0rqryOC53tIOUPQ3uxLbH8-zDqpUmZEWe1wL_ab24/edit?usp=sharing)

---
### How important is this feature?
*Select f

[2022-05-11 11:53] adamjtaylor opened #43 "Amend Imaging Level 3"
### Proposed change:

Ammends Imaging level 3 to split into 3 components
- Imaging Level 3 Mask
- Imaging Level 3 Channels
- Imaging Level 3 Image

---
### Discussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*

[Imaging Level 3 RFC document](https://docs.google.com/document/d/1ZeB7YsakXpaqz_vVCfywsKPZdMMylZ_

[2022-05-11 12:02] adamjtaylor opened #44 "Sync data model with Google Sheets and BigQuery"
We are intending to make `HTAN.model.csv` in `main` as the source-of-truth for the current state of the data model.

Need
 - A Google sheet that reflects the current CSV
 - A Google BIgQuery table that reflects the current CSV

Previous solution:
- Google Sheet was the source of truth and edits made here before transferring to the csv in the repo.
- Risk was that the sheet and csv could fall out o

[2022-05-11 12:13] adamjtaylor commented on #35
Next step is to edit `config.json` adding row like
[code]
Need to confirm the allowed strings for `type` and  if this is ok to go in right now
To discuss in FAIR mtg on Thurs 2022+05-11

[2022-05-11 12:15] adamjtaylor opened #45 "Document process for testing and implementing changes in DCA"
Currently we need to have Rong rebuild DCA instance to let changes be visible to users
We should document the current steps required and if HTAN team can do themselves

[2022-05-11 12:27] adamjtaylor commented on #44
Milen is the owner so this might be why Adam (an editor) cannot run Apps Script in this sheet

[2022-05-11 12:38] adamjtaylor opened #47 "Auto-convert to JSON LD fails if no changes"
Should pass if no changes are needed

[2022-05-11 12:54] adamjtaylor commented on #47
Error as follows
[code]

[2022-05-11 12:55] adamjtaylor commented on #47
I think we just need to add a `.giitignore` file.. not sure what we need to add in there though?

[2022-05-11 13:03] #4 closed

[2022-05-11 15:49] adamjtaylor opened #48 "Bulk WES L3 issues"
## Information
### Proposed change:
*a clear and consice description of proposed data model ammendments*

In the Bulk WES level 3 metadata template all germline, somatic, and structural variants workflows are required for each sample. Each of our samples is analyzed by only one workflow, not all three. Leaving the rest empty, NA, or Not Applicable are not allowed for the rest of the workflows, whi

[2022-05-12 09:35] adamjtaylor commented on #48
The following attributes are required in the schema and have valid values set
- scRNAseq Workflow Type
- Germline Variants Workflow Type
- Somatic Variants Workflow Type
- Structural Variant Workflow Type
- Alignment Workflow Type

Each have an "Other" value that enables submission of a custom workflow, but do not have a "None"/"Not used"/"NA"/"Not Applicable" option

Options to fix:

1. Suggest t

[2022-05-12 09:37] adamjtaylor commented on #48
I should actually read the source ticket! Proposed solution was actually more drastic

[2022-05-12 09:48] adamjtaylor commented on #48
The ticket proposed solution is what is in the RFC spreadsheet updated by @Gibbsdavidl in Feb.
![image](https://user-images.githubusercontent.com/14945787/168042946-dd869bbf-2201-4879-aa12-5502196eb72a.png)

Implementing this would assume that only one workflow is run (as per the ticket)
Are there cases where multiple workflow types are run for a single Bulk WES L3 file?

[2022-05-12 09:54] adamjtaylor commented on #44
@milen-sage Would you be able to see if you have access to Google Apps Script in the [HTAN Schema Google Sheet](https://docs.google.com/spreadsheets/d/1tBK7lBcWU3FvdB2awtHLWbRuK6od3k4h60grDzydX8k/edit#gid=0)

Apps Script can be found in extensions:
![image](https://user-images.githubusercontent.com/14945787/168043886-f86ccb0e-ea11-4f70-b663-5f604a4b4290.png)

When I try and access for this sheet o

[2022-05-12 10:02] adamjtaylor opened #49 "Amend Imaging Level 4"
### Proposed change:

Amends Imaging level 4 to add additional attributes following RFC revision

---
### Discussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*

[Imaging Level 4 RFC document](https://docs.google.com/document/d/1ZeB7YsakXpaqz_vVCfywsKPZdMMylZ_V2hyF6kngtko/edit?usp=sharing)

---
### How import

[2022-05-12 12:50] adamjtaylor opened #51 "RPPA typo "protemics" -> "proteomics""
### Proposed change:

*a clear and consice description of proposed data model ammendments*

Typo in RPPA Level 2 component description
"Array based **protemics**" -> "Array based **proteomics**"

---
### How important is this feature?
*Select from the options below*
- 🏝 Low - it's an enhancement but not crucial for work

---
### When will use cases depending on this become relevant?
- Mid-term - 2

[2022-05-12 15:37] milen-sage commented on #44
I see the same error.

[2022-05-12 15:51] adamjtaylor commented on #44
OK. I can get App's script to work on a new sheet in the same location, so we might just need to move to a new sheet and update links where the old sheet is shared... not the end of the world

[2022-05-12 17:56] adamjtaylor commented on #48
Thanks @Gibbsdavidl,
If we implement the changes per the RFC we should do a quick review on what metadata has been submitted for these attributes in the existing template to get a sense of how many centers will need to resubmit metadata to meet the updated schema

[2022-05-12 17:57] adamjtaylor commented on #48
Looks like we have no Bulk WES level 3 data yet, so we should be good to implement the changes per the RFC

[2022-05-13 08:10] adamjtaylor commented on #45
From @ychae via [Slack](https://sagebionetworks.slack.com/archives/C03F2MWHC78/p1652392818671999)

You do not need a develop branch in https://github.com/ncihtan/HTAN-data-curator in order to push to the [staging app](https://sagebio.shinyapps.io/HTAN-data-curator-staging). The staging app is automatically updated by merging into main  (the codebase for the HTAN staging site is the last “non-relea

[2022-05-13 11:05] adamjtaylor commented on #45
Thanks @ychae. I think mirroring this tag based approach between `HTAN-data-curator` and `data-models` makes the most sense to do. but the workflow of having to switch in and out the url of the exact data model branch is being looked at seems a little cumbersome.

Would something like the following be possible?
- We treat the latest commit in `data-models/main` as staging and the latest tag in `da

[2022-05-13 17:15] adamjtaylor commented on #45
@adamjtaylor to put an issue in schematic re this. For now we will edit config to point towards main for staging and latest tag for prod

[2022-05-17 10:16] adamjtaylor opened #53 "Enable component specific File Name and File Format valid values and/or validation"
Currently FileFormat and Filename are are part of the `Assay` parent and are reused across components.

This means it is currently not possible to set component-specific valid value or validation rules for individual components.

Example scenarios this currently allow for:
- File format and file extension do not need to match
- User can submit Filename: myfile.pdf and set File format as OME-TIFF a

[2022-05-18 17:55] #39 closed

[2022-05-19 13:57] adamjtaylor commented on #51
Fixed in #38

[2022-05-19 14:11] #51 closed

[2022-05-19 15:29] adamjtaylor commented on #47
Fixed in #54. Thanks @rrchai

[2022-05-19 15:29] #47 closed

[2022-05-19 20:20] #42 closed

[2022-05-19 20:20] #43 closed

[2022-05-19 20:20] #49 closed

[2022-05-23 09:48] adamjtaylor opened #56 "CSV linting errors"
CSV does not render as table in Github and test of sync to Google sheet failing.
Likely due to CSV linting errors in line 66 and 69 where quotation mark placement needs fixing.

[2022-05-23 09:58] adamjtaylor commented on #40
Thanks @sujaypatil96! I know this has also been raised with @milen-sage and the [`schematic`](https://github.com/Sage-Bionetworks/schematic) team in [`schematic:#631`](https://github.com/Sage-Bionetworks/schematic/issues/631), so I'll let this conversation carry on there.

[2022-05-23 09:58] #40 closed

[2022-05-26 12:14] adamjtaylor commented on #48
@elv-sb and I agree that we will action this once the data model to DCA flow is unblocked

[2022-06-01 08:57] #56 closed

[2022-06-01 08:57] #32 closed

[2022-06-01 12:12] adamjtaylor commented on #25
- Agreed remove from model
- Ensure no extra-schema columns are taken into BQ or portal or Synapse annotations
- Validate extra schema colimns... names cannot have date and content cannot regex date

[2022-06-06 08:57] adamjtaylor commented on #25
I'm fairly certain Image Acquisition Date was removed as part of the Imaging PR #34

[2022-06-06 09:11] #25 closed

[2022-06-16 11:43] adamjtaylor opened #59 "Imaging fixes from staging"
- [ ] Set `Parameter file` `Required` to `FALSE`
- [ ] Specify `Parameter file to be path in synapse project
- [ ] Specify channel metadata filename to be path in synapse project

[2022-06-28 15:59] aclayton555 opened #62 "Add Publication schema to data model"
## Information
### Proposed change:
Following the Publication RFC, this issue is to track activity related to adding the publication schema to the HTAN Data Model

---
### Discussion link:
Publication RFC: https://docs.google.com/document/d/1wQyVfj3TR36hg2E7OZDCIYv3p-Hm8DH_z73h1M3_hOM/edit?usp=sharing

---
### How important is this feature?
*Select from the options below*
- 🌗 Medium - can do work

[2022-06-30 22:23] elv-sb commented on #62
@aclayton555 added new branch "PublicationManifest" with initial edits

[2022-07-01 18:08] aclayton555 commented on #62
@elv-sb some additional updates made to attributes in the RFC doc based on discussion with governance, noted in comments. Can you please consult the RFC doc for the latest version of the pub schema. Thanks!

[2022-07-06 18:39] aclayton555 opened #63 "Cross check units for age (i.e. days vs years)"
On the 2022.07.06 HTAN Ops call, Adam noted that some age-related attributes may be captured in different units across different schemas (e.g clinical data vs diagnosis data). This issue is to perform to check of which units we are using to capture age across age-related attributes, and consider how to approach this consistently.
 @elv-sb @adamjtaylor

---
### How important is this feature?
- 🌗 Me

[2022-07-06 19:22] adamjtaylor opened #64 "integer is not also a float"
Submitting an integer in an attribute requiring a float does not pass validation. However many spreadsheets will remove a trailing decimal place if it is a whole number eg 20.0 -> 20 on export as csv, leading to this not being detected as a valid float

![image](https://user-images.githubusercontent.com/14945787/177626743-8fa81e2a-6b8b-4c0e-95ea-40b65a829da1.png)

[2022-07-07 17:12] adamjtaylor opened #66 "Implement validation rule ProtectAges"

[2022-07-07 17:26] milen-sage commented on #66
Docs [here](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2645262364/Data+Model+Validation+Rules) (ctrl+f protectAges).

[2022-07-11 10:27] adamjtaylor opened #67 "Enforce integer for Nominal Magnification"
### Attribute to Validate
Specify the attribute that you would like validation rule to apply to
**Imaging Level 2**:
**Nominal Magnification**:

### Validation Rule
Specify the validation rule, please refer to this document in the [Schema Hub](https://github.com/Sage-Bionetworks/schematic/pull/509)

`int`

### How important is this validation? Select from the options below:
• ~~Low - it's an enhan

[2022-07-11 10:52] adamjtaylor opened #68 "Validate URL for protocol link"
### Attribute to Validate
Specify the attribute that you would like validation rule to apply to
**Multiple**:
**Protocol link**:

### Validation Rule
Specify the validation rule, please refer to this document in the [Schema Hub](https://github.com/Sage-Bionetworks/schematic/pull/509)

`list::url`
(@milen-sage is this combination in production?) the [docs](https://sagebionetworks.jira.com/wiki/spac

[2022-07-11 10:53] adamjtaylor commented on #64
FYI @milen-sage and @ychae

[2022-07-11 13:29] adamjtaylor opened #69 "Add Publication Manifest"
## Information
### Proposed change:
*a clear and concise description of proposed data model amendments*
Add a publication component to enable publication metadata to be submitted and tracked

---
### Discussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*
Here!

---
### How important is this feature?
*Select f

[2022-07-11 16:40] milen-sage commented on #64
Good catch! Yes, it makes sense for ints to validate as floats.

[2022-07-11 16:40] milen-sage commented on #64
Yes, let's transfer to the schematic repo.

[2022-07-11 16:42] adamjtaylor commented on #64
Sounds good... I don't seem to have permission to do so.. Can you try @milen-sage

[2022-07-12 17:46] milen-sage commented on #64
@ychae I get an error that issues are disabled for the ncihtan/schematic repo when I try to move the issue there. It sounds like for this specific issue, we can just reopen it in our backlog and close it here. Would you mind doing that?

We can decide whether/how to incorporate gh issues from forks in different orgs in our backlog.

[2022-07-12 17:52] ychae commented on #64
@milen-sage I've added this ticket to our backlog -- should it be addressed as part of our next sprint (Sprint 13)?

[2022-07-13 19:55] aclayton555 commented on #69
Is this issue duplicative of this one: https://github.com/ncihtan/data-models/issues/62. Should I close the older one?

[2022-07-13 19:56] adamjtaylor commented on #69
Ah sorry yes I totally missed the old issue. Yes we can close the previous one with a comment pointing here. Thank you!

[2022-07-13 20:00] #62 closed

[2022-07-15 17:13] adamjtaylor opened #70 "Add validation rules to match ids"
From the schematic documentation:
Cross-manifest:

Use cross-manifest validation rules when you want to ensure that the complete set of values of an attribute in the manifest being validated are fully present in at least one or exactly one other manifest(s) with a specified component and attribute.

Validation is unidirectional, the presence of extra values in the target manifest not found in the

[2022-07-19 13:14] #69 closed

[2022-07-19 18:10] GiaJordan commented on #64
Spoke with @adamjtaylor, will implement `num` rule in place of `float` and `int` as appropriate to resolve

[2022-07-19 18:10] #64 closed

[2022-07-19 18:17] adamjtaylor opened #72 "Use `num` validation rule to accept both `int` and `float`"
Use in cases such as LensNA and FOVX

[2022-07-19 18:18] adamjtaylor commented on #64
I'll track implementing `num` validation over `float`/`int` where applicable here: https://github.com/ncihtan/data-models/issues/72

[2022-07-20 15:41] adamjtaylor commented on #35
Closing this issue as it is ready in staging
Will be available in production when full conversion from entities to tables is complete

[2022-07-20 15:42] adamjtaylor commented on #23
Closing this issue as we have been opening individual issues

[2022-07-20 15:42] #23 closed

[2022-07-20 15:42] adamjtaylor commented on #45
Closing this issue as we have relatively well documented in the readme and have a much better understanding of the process now

[2022-07-20 15:42] #45 closed

[2022-07-25 16:35] adamjtaylor opened #74 "Replace `list` with `list like`"
`list` leads to single item entries without a trailing comma to fail validation.
replace these with `list like` where appropriate, eg [HTAN-110](https://sagebionetworks.jira.com/jira/servicedesk/projects/HTAN/queues/custom/1/HTAN-110)

[2022-07-28 00:10] aclayton555 opened #76 "Publications manifest testing: empty manifest"
Currently testing the new publications manifest in staging and noticing a few issues with the empty manifest. Issues encountered following submission and validation will be filed separately.

Steps performed:

- access staging DCA
- Project: HTAN Center C
- Folder: Publications _Test
- Template: Publication Manifest
- Generate Google Sheet: https://docs.google.com/spreadsheets/d/1dcURrhI0Gm4Dj-ljb

[2022-08-09 01:05] majensen opened #77 "Conversion to JSON-LD creates nodes with illegal characters."
When parsing the file HTAN.mdoel.jsonld with rdflib, I get the following warnings. These appear to be elements that contain special characters in their names.
(I might suggest that the name is not an ideal place to record the definitions of terms, like rural/urban populations, or long term/short term quitter.)

[code]

[2022-08-10 10:11] adamjtaylor opened #78 "Add scATAC-seq Level 2"
## Information
### Proposed change:
Add scATAC-seq Level 2 to the data model per RFC

---
### Dicussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*
https://docs.google.com/document/d/1VeyMlmCrJe7gGnim9h6av69Rek1PBDTV6Bxxc8VISYU/edit?usp=sharing

---
### How important is this feature?
*Select from the options

[2022-08-10 10:12] adamjtaylor commented on #78
FYI @Gibbsdavidl

[2022-08-10 15:58] adamjtaylor opened #79 "Add scATAC-seq level 3"
## Information
### Proposed change:
*a clear and consice description of proposed data model ammendments*
Add scATAC-seq level 3 per rfc

---
### Dicussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*
https://docs.google.com/document/d/1U-ue-f4NpLQJaUH18nxTmeFC9PGvJ7uWHN4dlULiBc4/edit?usp=sharing

---
### How i

[2022-08-12 14:27] adamjtaylor opened #80 "Add `scn` to valid file formats"

[2022-08-12 14:42] #74 closed

[2022-08-29 08:59] #80 closed

[2022-08-29 15:55] adamjtaylor commented on #76
Issue 1 can be fixed in a simple data model update
Issue 3 should have been fixed in #75 replacing `list` with `list like`
Unclear on the fix for Issue 2 - to discuss with @elv-sb and @milen-sage

[2022-08-30 17:00] aclayton555 commented on #76
Issue 1 - @elv-sb can you please address this one in the data model?
Issue 2 - I will put on our next agenda with FAIR (Sept 6) FYI @milen-sage
Issue 3 - I tested and this appears to be fixed. I can now list multiple centers under `HTAN Center ID`

[2022-08-31 13:08] milen-sage commented on #77
@majensen thanks for noting - we added it to our backlog and will take a look in the next three weeks. Let us know if this is a blocker.

[2022-09-06 16:53] aclayton555 opened #85 "Pre-cancer Atlas date issues e.g Date of diagnosis"
Discussed on 2022.08.31 HTAN DCC Operations call (meeting notes: https://docs.google.com/document/d/18Krq5x-5dGcPxC9X_B24S5JMv0iXILF5_qwpvpUk4_U/edit?usp=sharing)

Recap, for pre-cancer atlases (e.g. Vanderbilt), they have used “0” for “Days_to_diagnosis” to indicate a pre-cancer state. After some further digging to understand the scope of this issue, @clarisse-lau confirmed that certain Diagnosis

[2022-09-06 21:27] Gibbsdavidl commented on #78
@elv-sb @adamjtaylor   Hi there!  I don't think the github action is running on my branch.   [rfc-sc-atac-seq-l2-l3](https://github.com/ncihtan/data-models/tree/rfc-sc-atac-seq-l2-l3)

[2022-09-06 21:32] adamjtaylor commented on #78
The action only runs on PR's, so it will run once you open one to merge your branch into main.

[2022-09-19 15:47] adamjtaylor opened #89 "Fix typo for publication id"
Typo: The attribute "Publication-associated HTAN Pared Data File ID" should be "Publication-associated HTAN Parent Data File ID"
Per #76

[2022-09-21 16:18] adamjtaylor opened #90 "DependsOn items don't have own attribute"
From @PozhidayevaDarya in DCC Operations call on 2022-09-21:

Spike In Mix 1, Spike In Mix 2, Both Spike in Mixes
these can be found under the ERCC attribute DependsOn.

To check if this is an issue.

[2022-09-22 11:11] adamjtaylor commented on #90
From my reading of the [schematic documentation](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2473623559/The+Data+Model+Schema#A.-Schema-properties-and-relationships) (possibly only a Sage-internal link), I think that DependsOn items are required to exist as their own attributes... ie if the attribute that has dependencies is used then the Depends on attributes become required.

Will i

[2022-09-22 11:22] adamjtaylor commented on #90
From the [scRNA-seq RFC](https://docs.google.com/document/d/1gp2KCtds1lee_Tt14SQEwaPDD6_3ACu3FTUckF8Ux9o/edit?usp=sharing) it looks like only Spike In Concentration should be the sole DependsOn value for ERCC

![image](https://user-images.githubusercontent.com/14945787/191733918-7d4b1edc-2fdd-48b1-a5e5-1dee74cca82f.png)

I'm guessing that `Spike In Mix 1`, `Spike In Mix 2`, `Both Spike in Mixes` w

[2022-09-22 12:03] adamjtaylor commented on #90
@milen-sage and @Gibbsdavidl, I think you were DCC signatories for the scRNA-seq L1 RFC... does the above make sense to you.

[2022-09-22 12:03] adamjtaylor commented on #90
Further @milen-sage, it might be a nice feature to have warnings for this on JSON-LD generation that there are attributes called that are not in the model.

[2022-09-22 18:14] Gibbsdavidl commented on #90
yes, makes sense.

[2022-09-22 18:16] adamjtaylor commented on #90
OK great. I will close this issue and open a new one to remove all but `Spike In Concentration` as DependsOn values for ERCC

[2022-09-22 18:16] #90 closed

[2022-09-22 18:17] adamjtaylor opened #91 "Fix ERCC DependsOn values"
Remove all but `Spike In Concentration` as `DependsOn` values for attribute `ERCC`.
Fixes #90

[2022-09-22 19:44] #78 closed

[2022-09-22 19:44] #79 closed

[2022-09-23 10:24] adamjtaylor commented on #63
Confirming that on review age related attributes are captured as days.

[2022-09-23 10:24] #63 closed

[2022-09-23 14:40] milen-sage commented on #90
Yes, I'll start an issue around warning if there are missing dependency attributes. @adamjtaylor the addition of Spike In Mix 1, Spike In Mix 2, Both Spike in Mixes was probably an initial request that was later reconsidered...

On our side we need a better standard versioning trail with a searchable change log. Not too hard to implement, but it requires some thought. We'll add that to our backlog

[2022-09-27 14:36] adamjtaylor opened #92 "SRRS data model fixes"
Reported by Dan Merrick via email with Adam and Milen.

I think all of these will be in the SRRS specific schema (I think all biospecimen)
Relatively minor fixes but I think will be a priority to implement.

- [x] Dimension Unit: should be cm instead of Cm
- [x] Tumor Tissue Type: should be Primary instead of primary
- [x] Processing Days from Index should allow NA for specimens that are not yet p

[2022-09-27 16:51] adamjtaylor commented on #92
Re `Dimensions Unit` something odd is going on....

The schema has valid values `mm, cm`
![image](https://user-images.githubusercontent.com/14945787/192587086-ec8dd08f-d45c-4bbd-8c8e-34d6a4fca8ee.png)
Git blame suggests that this has been in place since the attribute was added

But the validation fails with
`['cm'] ... in column 'Dimensions Unit' not one of ['Cm', 'mm' ,'']
![image](https://user-i

[2022-09-27 16:57] adamjtaylor commented on #92
Re `Processing Days from index` this is a duplicate of #85` so we could use a regex for an integer or Not Applicable as proposed there.

[2022-09-27 16:59] adamjtaylor commented on #92
Re `Histologic Morphology Code` this is currently required but without valid values or validation rules, so I'm not sure why NA is not possible for them here.

[2022-09-27 17:01] adamjtaylor commented on #92
@elv-sb I have made a first stab at triaging these issues. Could you follow up with @milen-sage and FAIR to resolve.

[2022-09-27 22:45] aclayton555 commented on #92
@elv-sb I filed a ticket with FAIR here to put this on their radar as a blocker: https://sagebionetworks.jira.com/browse/IBCSPRT-78

[2022-10-04 19:10] aclayton555 commented on #77
@elv-sb can you please update this one accordingly

[2022-10-04 19:11] aclayton555 commented on #91
@elv-sb can you please tackle this one?

[2022-10-04 19:11] aclayton555 commented on #89
@elv-sb can you please tackle this one?

[2022-10-04 19:12] aclayton555 commented on #72
@elv-sb can you please tackle this one

[2022-10-05 16:03] adamjtaylor opened #95 "Implement L1 and L2 Single-Cell scmC Sequencing"

[2022-10-05 16:28] adamjtaylor opened #96 "Solution for lost connection to Biospecimen when missing L1 data"
Problem: [AT to complete]

Interim solution: In the L2 problem manifest add a custom column that includes the HTAN Parent Biospecimen ID.
This can't be called `HTAN Parent Biospecimen ID` but could be called `Alternate HTAN Parent Biospecimen ID` or similar`

Longer term solution:
Add `HTAN Parent Biospecimen ID` to templates at all data levels
Write a script to populate `HTAN Parent Bipspecimen I

[2022-10-05 16:31] aclayton555 commented on #96
Follows discussion on 2022.10.05 HTAN Ops call: https://docs.google.com/document/d/18Krq5x-5dGcPxC9X_B24S5JMv0iXILF5_qwpvpUk4_U/edit#bookmark=id.1ssejct0nbps

[2022-10-05 17:10] adamjtaylor opened #97 "get scDNA-seq RFC going"

[2022-10-05 17:32] adamjtaylor commented on #92
Also a note of reordered columns

[2022-10-05 17:42] allison-maier opened #98 "Imaging Level 4 - "Imaging Object Class Description" showing up as required"
In the Imaging Level 4 metadata template, the field "Imaging Object Class Description" is showing up as required. The RFC states that this field should be required only if object class = “other”, otherwise it is optional.

I have not tried validating or uploading this metadata, so I do not know if  leaving this field blank would actually stop me from completing the upload.

[2022-10-11 19:27] aclayton555 opened #100 "Publication manifest: Remove HTAN Publication ID"
Per discussion in https://github.com/ncihtan/HTAN-data-curator/issues/25 , have discussed that the requirement for HTAN Publication ID (a Synapse entity ID) is a blocker for manifest submission. Consider removing the requirements for this, or removing this all together and using the table row ID as the unique ID and for joining purposes.
---
### How important is this feature?
- 🌋 Important - it's

[2022-10-11 21:06] Gibbsdavidl commented on #97
[Level 1 RFC](https://docs.google.com/document/d/1IJzFH4zHyUcZkPLG9-Nyq8IOGQ523tAnKrCuLj6R97Y/edit)

[Level 2 RFC](https://docs.google.com/document/d/1dUF-Osj7-bVqKHwzKjvQV2eiWTH_LfBKaGe9l9C51ko/edit)

[2022-10-12 16:14] aclayton555 opened #101 "Parent IDs - update requirements and dependencies to establish relationship"
Per discussion on 2022.10.12 HTAN Ops call (https://docs.google.com/document/d/18Krq5x-5dGcPxC9X_B24S5JMv0iXILF5_qwpvpUk4_U/edit#bookmark=id.l1tnr4j7akzl)

Raised in the context of HTAPP.

One approach: Implement an attribute to determine "Parent Data File ID Missing?" - if True, require parent biospecimen ID.
- this could be similar to how we operationalize units. Where if a specific unit measure

[2022-10-12 16:15] aclayton555 commented on #101
Assigning @adamjtaylor to this, with initial thoughts discussed on HTAN Ops calls. Please feel free to add additional context.

[2022-10-12 22:12] Gibbsdavidl commented on #95
Attribute table:  https://docs.google.com/spreadsheets/d/1qciTL6Ra4aA0aFyoNB7HaMZyEObviBF606st7IBB39w/edit?usp=sharing

[2022-10-12 22:13] Gibbsdavidl commented on #95
Level 1:
https://docs.google.com/document/d/1120a64uZby6q_wWTSSDMDbmHrdTIWhwKoy4nPOOzWLA/edit#heading=h.gjdgxs

Level 2:
https://docs.google.com/document/d/1iShWF7jGg1CQ5_iy-RnUeHWKSK66MeizFwEERVwNIRQ/edit

[2022-10-13 11:42] adamjtaylor commented on #89
Fixed in #99

[2022-10-13 11:42] #89 closed

[2022-10-13 11:45] adamjtaylor commented on #96
Agreed solution is to add new attribute `Is lowest level` with boolean values. If `True` have a `HTAN Parent Data File ID` as a `DependsOn` attrubute

[2022-10-13 11:46] adamjtaylor commented on #72
Fixed in #99

[2022-10-13 11:46] #72 closed

[2022-10-13 11:47] adamjtaylor commented on #91
Fixed in #99

[2022-10-13 11:47] #91 closed

[2022-10-13 11:47] adamjtaylor commented on #67
Fixed in #99

[2022-10-13 11:47] #67 closed

[2022-10-13 11:59] adamjtaylor commented on #76
Issue 1 ( #89) fixed in #99

[2022-10-13 12:00] adamjtaylor commented on #76
Unsure if remaining issue 2 is solved. Moving into the FAIR data escalation status

[2022-10-13 12:09] adamjtaylor commented on #101
Closing as duplicate of #96  - will track implementation there

[2022-10-13 12:09] #101 closed

[2022-10-13 12:34] adamjtaylor commented on #98
Thanks for reporting @allison-maier
This is now fixed in our data model by PR #102, but still needs to be deployed in the DCA.
I will update you when this is avaliable first in our staging instance and then in production.

[2022-10-13 12:45] allison-maier commented on #98
Thanks, Adam!

Best,
Allison

From: Adam Taylor ***@***.***>
Sent: Thursday, October 13, 2022 8:35 AM
To: ncihtan/data-models ***@***.***>
Cc: Maier, Allison ***@***.***>; Mention ***@***.***>
Subject: Re: [ncihtan/data-models] Imaging Level 4 - "Imaging Object Class Description" showing up as required (Issue #98)

Thanks for reporting @allison-maier<https://urldefense.proofpoint.com/v2/url?u=http

[2022-10-13 15:25] aclayton555 commented on #76
@elv-sb I think you had a chance to discuss issue 2 with Milen - can you confirm? I believe this was captured here: https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-76

[2022-10-14 17:06] adamjtaylor commented on #98
This should now be deployed in staging: https://sagebio.shinyapps.io/HTAN-data-curator-staging/
@allison-maier , I'm going to reopen this ticket to allow you to validate that this is now working for you.

[2022-10-18 18:12] allison-maier commented on #98
Hi @adamjtaylor , I tested this in staging and it is working for me!

[2022-10-18 18:37] adamjtaylor commented on #92
Dimensions Unit and Tumor tissue type error is occurring in the json-ld generation - the required values are lower case in in the csv but appear in title case in the json-ld. FYI @milen-sage

[2022-10-18 18:54] adamjtaylor commented on #85
Options should be integer, "Unknown", "Not reported"

[2022-10-18 20:27] adamjtaylor commented on #98
Thank you! Closing the issue. This will be included in production when we make our next tagged release of `HTAN-data-curator`. I expect this to be next week or so. In the meantime please continue to use staging to submit this component.

[2022-10-18 20:27] #98 closed

[2022-10-19 23:24] adamjtaylor commented on #92
Currently seeing 8 validiation errors

[code]

[2022-10-19 23:26] adamjtaylor commented on #92
[code]

In the csv this seems to be `0` but seems to being cast as a float at some point in the process which makes it not possible to be validated through the regex for an integer

[2022-10-19 23:28] adamjtaylor commented on #92
[code]

data model csv has  `Bilateral, Left, Right, unknown, Not Reported, Not Applicable` in valid values but looks to be a duplicate of the cm issue where it is being changed to sentence case in the display bame

[2022-10-19 23:56] adamjtaylor commented on #92
[code]
This is due to a namespace clash with `Cm` which is a valid value in `Metal Isotope Element` as the element `Curium`
Propose we change to centimetre and millimetre

[2022-10-20 00:09] adamjtaylor commented on #92
Easier fix is to remove `Cm` from `Metal Isotope Element`

[2022-10-20 15:53] adamjtaylor opened #106 "Remove `Cm` from valid values for `Metal Isotope Element`"
Causes a namespace conflict with `cm` where used as a valid value for dimensions unit

[2022-10-21 20:38] adamjtaylor opened #108 "Duplicate dependencies in JSON-LD"
Reported by @onursumer [via slack](https://htanworkspace.slack.com/archives/GUGUTPA06/p1666367017666819)

![duplicate_required_dependencies](https://user-images.githubusercontent.com/14945787/197284716-ddd133b7-16b9-45b6-ab8d-b37097978ec3.png)

[2022-10-21 20:44] adamjtaylor commented on #108
It looks like `Preinvasive Morpholgy` was included twice in the `DependsOn` list for the `Biospecimen` component:

Will open a PR to remove.

@elv-sb we should also think with FAIR about a 'data model audit` or similar script to warn or pick up on these issues in data models.

[2022-10-25 21:57] #106 closed

[2022-10-28 20:11] aclayton555 opened #111 "Use "Add-to-project" action to add new issues and PRs to Data Model project board"
@adamjtaylor and @elv-sb wondering if this is something we could implement: https://github.com/actions/add-to-project

I am totally naive to how to add/implement actions in GH. Help?

[2022-10-31 16:44] adamjtaylor commented on #92
For clarity I am going to unpick this issue into individual issues

[2022-10-31 16:46] adamjtaylor opened #112 "cm in Dimensions unit not one of Cm, mm"
Split from #92

Re `Dimensions Unit` something odd is going on....

The schema has valid values `mm, cm`
![image](https://user-images.githubusercontent.com/14945787/192587086-ec8dd08f-d45c-4bbd-8c8e-34d6a4fca8ee.png)
Git blame suggests that this has been in place since the attribute was added

But the validation fails with
`['cm'] ... in column 'Dimensions Unit': not one of ['Cm', 'mm' ,''] `
![im

[2022-10-31 16:47] adamjtaylor opened #113 "Tumor Tissue Type: should be Primary instead of primary"
Tumor Tissue Type: should be Primary instead of primary

Split from #92

Re Tumor Tissue Type
the valid values are in title case in the schema, so I'm not sure what the issue is.
... Premalignant, Primary, Recurrent, ...
possibly the same cause as the cm vs Cm above  #112

[2022-10-31 17:06] adamjtaylor opened #114 "Allow for NA in processing days from index and histologic morphology code"
Processing Days from Index should allow NA for specimens that are not yet processed
 Histologic Morphology Code should allow NA

Split from #92

[2022-10-31 17:08] #24 closed

[2022-10-31 17:12] adamjtaylor opened #115 "Reorder SRRS biospecimen columns"
Per https://sagebionetworks.jira.com/browse/HTAN-84

[2022-10-31 17:15] adamjtaylor opened #116 "SRRS topography code being validated against morphology code valid values"
Per Jira [HTAN-131](https://sagebionetworks.jira.com/browse/HTAN-131)

[2022-10-31 17:22] rrchai commented on #29
@adamjtaylor If I remember correctly, Github is not supported adding upstream to an existing repo (unless recreating the repo). Now, I don't think it's necessary to link the template data-models repo. Only file needs to synced up is CI workflow, but direct copying over this file is not a big deal.

I think we can close this issue.

[2022-10-31 18:41] aclayton555 commented on #77
Confirm whether this is in staging or prod and what is left here.

[2022-10-31 18:42] aclayton555 commented on #77
Everything pushed before Oct 3, should be in prod.
Everything push on Oct 19th should be in staging.

[2022-10-31 19:06] aclayton555 commented on #76
@elv-sb to confirm and close, as necessary. Please update status.

[2022-10-31 20:01] aclayton555 commented on #53
ticket filed: https://sagebionetworks.jira.com/jira/servicedesk/projects/IBCSPRT/queues/issue/IBCSPRT-90

[2022-10-31 20:02] #29 closed

[2022-11-03 15:30] adamjtaylor commented on #97
@Gibbsdavidl If these RFC's are ready it would be great for you or your team to open a PR adding attributes to the data model csv in this repo.

[2022-11-03 15:56] adamjtaylor commented on #96
@aclayton555 can you remember exactly which L2 component this was targeted for? I would like to implement in a single component at this stage for wider testing. If successful we could implement more widely.

[2022-11-03 16:00] adamjtaylor commented on #112
Closing as confirmed that this is now implemented and working in staging and will filter up to production in the next update

[2022-11-03 16:00] #112 closed

[2022-11-03 16:49] aclayton555 commented on #96
@clarisse-lau do you recall which component this issue arose from? I think this was HTAPP L2 RNAseq? But I may be misremembering that.

[2022-11-03 17:34] adamjtaylor commented on #116
This looks to be a data model issue where valid `Histologic morphology code` values were added to `Topography code` rather than valid (ICDO-3 topography codes](https://www.ncri.ie/html/icdo3sites)

[2022-11-03 17:45] adamjtaylor commented on #116
Frustratingly the Biospecimen RFC is not at all clear on what was intended here
https://docs.google.com/document/d/1LvXlXz0ZLeuTECE0_CEC8tpCWXhBisXxJ3ZocGP4yNA/edit?usp=sharing

[2022-11-03 17:58] adamjtaylor commented on #116
Ah! Unfortunately this looks to have been my fault. See blame for [HTAN.model.csv#L674](https://github.com/ncihtan/data-models/blame/main/HTAN.model.csv#L674)

In PR #38, fixing issue #27, I added the morphology codes to the wrong attribute.

Propose that we
1. Add valid topography codes in `Topography Code` and remove the wrong codes
2. Add the valid morphology codes to `Histologic Morphology Typ

[2022-11-03 17:59] adamjtaylor commented on #116
For point 2 above the following query searches for what will be invalid Histologic Morphology Codes

[code]

Row | HTAN_Center | Histologic_Morphology_Code | count |  
-- | -- | -- | -- | --
1 | HTAN HTAPP | Not Applicable | 210 |  
2 | HTAN HTAPP | Not applicable | 195 |  
3 | HTAN HTAPP | No Applicable | 120 |  
4 | HTAN Vanderbilt | M82130 | 12 |  
5 | HTAN Vanderbilt | 0.0 | 159 |  
6 | HTAN V

[2022-11-03 18:00] adamjtaylor commented on #116
Propose splitting the `Histologic Morphology Code` issue above into a separate issue. Here we will just fix the `Topography Codes`

[2022-11-03 18:02] clarisse-lau commented on #96
This applies to both HTAPP bulk RNA seq and bulk WES

[2022-11-03 18:17] adamjtaylor commented on #96
OK... so I'll only implement in bulkRNAseq L2 and bulk WES L2 for now. Does that sound OK @clarisse-lau ?

[2022-11-03 18:26] adamjtaylor commented on #27
the following Big query searches for what will be invalid Histologic Morphology Codes

[code]

Row | HTAN_Center | Histologic_Morphology_Code | count |  
-- | -- | -- | -- | --
1 | HTAN HTAPP | Not Applicable | 210 |  
2 | HTAN HTAPP | Not applicable | 195 |  
3 | HTAN HTAPP | No Applicable | 120 |  
4 | HTAN Vanderbilt | M82130 | 12 |  
5 | HTAN Vanderbilt | 0.0 | 159 |  
6 | HTAN Vanderbilt | M8

[2022-11-03 18:27] adamjtaylor commented on #27
Some of these will need standardisation of their not reported type. Some will require resubmission.

[2022-11-03 18:44] adamjtaylor commented on #113
Tumor Tissue Type has valid values "Additional Primary, Local recurrence, Metastatic, Premalignant, **_Primary_**, Recurrent, Normal, Normal adjacent, Normal distant, Post therapy, Post therapy neoadjuvant, Post therapy adjuvant, Not Otherwise Specified, Premalignant - in situ, Atypia - hyperplasia, Not analyzed"

However earlier in the schema, Antibody Role has valid values "primary,secondary"

T

[2022-11-03 19:06] clarisse-lau commented on #96
Yes, sounds good @adamjtaylor. Thank you!!

[2022-11-04 09:00] adamjtaylor commented on #114
The Histologic Morphology Code fix is related to #38 which I reopened on the basis of #116

[2022-11-04 09:19] adamjtaylor opened #122 "Ignore this test issue"

[2022-11-04 09:26] adamjtaylor commented on #111
Action working. @aclayton555 at the moment it adds to `No Status` but I can change it to `Backlog`, depending on if we want this kind of `initial triage` step

[2022-11-04 09:26] #111 closed

[2022-11-04 09:28] adamjtaylor commented on #53
Note that I don't have permission to view this ticket (at least from that link)

[2022-11-04 17:55] aclayton555 commented on #53
Perhaps you can see it via the portal view here: https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-90

[2022-11-04 17:57] aclayton555 commented on #111
Yes, I would prefer that this adds new issues to "Backlog" by default. That keeps issue workflows consistent across platforms (e.g. Jira)

[2022-11-04 18:05] adamjtaylor opened #123 "Ignore this second test issue"

[2022-11-04 18:07] adamjtaylor commented on #111
OK that should be sorted now by setting the default status in [project workflows](https://github.com/orgs/ncihtan/projects/4/workflows/4394943)

[2022-11-04 18:25] aclayton555 opened #124 "Here is another test issue to ignore"
## Information
### Proposed change:
*a clear and consice description of proposed data model ammendments*

---
### Dicussion link:
*Link to where the changes have been discussed/approved eg Closed RFC, Service desk ticket, DCC coordination/operations agenda*

---
### How important is this feature?
*Select from the options below*
- 🏝 Low - it's an enhancement but not crucial for work
- 🌗 Medium - ca

[2022-11-04 18:26] aclayton555 commented on #111
works perfectly, thank you!

[2022-11-07 21:10] #123 closed

[2022-11-07 21:10] #124 closed

[2022-11-09 19:20] #122 closed

[2022-11-09 23:54] aclayton555 opened #126 "Valid values review and initial cleanup"
Discussed on 2022.11.09 HTAN DCC Operations call. Need to perform a review of valid values in the data model and assess what cleanup is needed. This stems from several issues encountered with capitalization, as well as every possible use of "not applicable." This may also be an opportunity to review what type of custom columns centers have been adding, and whether these should be adopted.

This wi

[2022-11-10 00:00] aclayton555 opened #127 "[JIRA Help Desk] MSK: Issue encountered with capitalization"
Jira Help Desk issue: https://sagebionetworks.jira.com/browse/HTAN-122

Adam notes:

We are also seeing the capitalization error reported on before

where `unknown` is not valid as the JSON-LD has `Unknown`

Separate disconnect issues noted in HTAN-122 have been escalated to FAIR: https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-99

[2022-11-10 09:20] adamjtaylor commented on #127
`Unknown` (in title case) us a valid value for `Blood Tube Type` and appears in the data model ahead of `Treatment Type` which has valid value `unknown` (lower case). Causing this issue.
`Unknown` (title case)` is also a valid value for `Topography Code` (in `main` may be different in #119)
`unknown` (lower case) is also a valid value for `Sequencing Platform`, `Target Capture Kit`, among 259 attr

[2022-11-10 09:26] adamjtaylor commented on #127
Fix is one of
- [ ] Replace the 2 title case instances with lower case instances to match the general intention. However if contributors have generally used `Unknown` to pass validation in cases where this error has been seen then this could cause many future manifests to fail. Would need investigation
- [ ] Replace the 259 uses of lower case `unknown` with title case `Unknown` to make the data mo

[2022-11-10 09:27] adamjtaylor commented on #127
This is also another example of why we need a route to 1
- Review for other potential title case clashes
- Agree and document a common vocabulary for common terms such as `unknown` or `Not Reported`
- Audit and warn for clashes (potentially on JSON-LD creation

[2022-11-10 17:01] aclayton555 commented on #53
This is now tracked by FAIR here: https://sagebionetworks.jira.com/browse/HSD-63

[2022-11-14 16:48] adamjtaylor commented on #127
@elv-sb @aclayton555 I'd like to get this one fixed in the second half of the Nov sprint, as it blocks potentially releasable data - see linked issue above. Probably a fair effort but I'll have plenty of no-meeting time while you celebrate Thanksgiving!

[2022-11-14 17:24] aclayton555 commented on #127
@adamjtaylor  Sounds good if you think we can fit this within this sprint. I have marked this "Ready for Development."
YOU should also be taking some time off around Thanksgiving!

[2022-11-14 22:49] #100 closed

[2022-11-14 22:50] #108 closed

[2022-11-14 22:52] #116 closed

[2022-11-14 22:52] #113 closed

[2022-11-14 22:53] #97 closed

[2022-11-15 09:00] adamjtaylor commented on #96
Note to leave this action open once merged as will require testing in staging to ensure dependencies are correctly setup.

[2022-11-15 09:10] #96 closed

[2022-11-15 21:24] clarisse-lau commented on #96
Thanks @adamjtaylor!
We can do some testing on the ISB side as well. If all looks ok, hopefully we can remove HTAPP's bulk level 2 data from the release 3 exclusion list

[2022-11-15 21:25] adamjtaylor commented on #96
Super. This is in staging so please do test and resubmit if possible @clarisse-lau

[2022-11-17 21:36] adamjtaylor opened #129 "Hyphens in attribute cause disconnect"
As seen in https://github.com/ncihtan/data-release-tracker/issues/486

[code]

[2022-11-18 09:49] adamjtaylor commented on #129
Being fixed in https://github.com/Sage-Bionetworks/schematic/issues/1019, targeted for schematic v22.11.3

[2022-11-22 18:22] aclayton555 commented on #114
@elv-sb are you able to take a look at this one for this sprint?

[2022-11-22 19:37] elv-sb commented on #114
Histologic morphology code should be ok already.
Processing days from index currently has regex match \d+$|Not\sapplicable$|unknown$ changed to match \d+$|Not\sapplicable$|unknown$|NA$ which allows for NA

[2022-11-22 19:45] elv-sb commented on #77
We have fixed the cm^2 and mm^3, but we are not going to change the greater than and less than currently. These are values coming directly from submitters and we need to do an analysis to see what will be affected if those are changed.

[2022-11-24 11:17] adamjtaylor commented on #114
This was a request from SRRS

Processing days from Index currently is controlled by a regex
[code]
This should allow for any integer, or `Not applicable` or `unknown`

On reflection (and sorry this is so late in the process) I think we should ask they submit `Not applicable` rather than add a feature to also allow `NA`

For completeness I checked in BigQuery to see what non-integer values have bee

[2022-11-24 11:32] adamjtaylor commented on #27
OK from the above I note I was looking at `Histologic Morphology Code` and not `Morphology` Oops

[2022-11-24 11:34] adamjtaylor commented on #114
## Histologic morphology code

I concur with Elvira above: This currently has no valid values and no validation rules but is a required field.
I'm not sure why SRRS are requesting to allow for NA - its not clear that they specifically experienced error on submitting NA

[2022-11-24 11:43] adamjtaylor commented on #114
@elv-sb and @aclayton555

My proposed actions emerging from this issue and review of #131. Please react with 👍 if you agree.

- [ ] Close #131 without merging
- [ ] Contact SRRS to ask to submit using `Not applicable` rather than `NA` - this is already in data model and in prod DCA for `Processing days from index`. `Histologic morphology code` remains uncontrolled
- [ ] New issue to add RPPA Level

[2022-11-24 11:44] adamjtaylor commented on #129
Schematic v22.11.3 should now be in staging

[2022-11-24 11:46] #127 closed

[2022-11-28 14:40] adamjtaylor commented on #95
Still needs adding to DCA config per https://github.com/ncihtan/HTAN-data-curator/issues/40

[2022-11-28 17:16] aclayton555 opened #132 "Implement spatial transcriptomics"
Per discussion on 2022.11.28 HTAN DCC Coordination call, aiming to have comments on spatial transcriptomics RFC finalized in coming week.  Backlogging this ticket with the intention of aiming for inclusion in the January 2023 data model sprint.

FYI @adamjtaylor and @PozhidayevaDarya

---
### How important is this feature?
- 🌗 Medium - can do work without it; but it's important (e.g. to save time

[2022-11-28 19:43] aclayton555 commented on #114
Agree with these actions. Action plan:
1. Elvira
2. Adam
3. Ashley
4. Ashley
5. Next sprint
6. Ashley
7. Adam already on this

[2022-11-28 20:09] #129 closed

[2022-11-28 20:09] #95 closed

[2022-11-28 20:23] #53 closed

[2022-11-28 20:24] adamjtaylor commented on #92
Done. Close once @adamjtaylor has reported back to SRRS

[2022-11-28 20:24] #92 closed

[2022-11-28 20:25] #76 closed

[2022-11-28 21:39] aclayton555 opened #134 "Add RPPA Level 4 attribute description"
This is a new issue emerging from https://github.com/ncihtan/data-models/issues/114

[2022-11-28 21:43] aclayton555 opened #135 "Implement valid values for Histologic Morphology code including unknown and Not applicable"
This is a new issue emerging from https://github.com/ncihtan/data-models/issues/114 to implement valid values for `Histologic Morphology code` including `unknown` and `Not applicable`

[2022-11-29 13:52] #115 closed

[2022-11-29 16:31] milen-sage commented on #85
@adamjtaylor I think this likely has been addressed in schematic 22.11.3 release as part of https://github.com/Sage-Bionetworks/schematic/pull/1000. Please feel free to reach to @GiaJordan on usage examples to confirm the functionality covers your use case.

[2022-11-29 16:42] clarisse-lau commented on #85
Thanks @milen-sage !
And thanks for re-opening @adamjtaylor, as I believe the rule has so far only been applied to `Processing Days from Index`.

Would it be possible to change the capitalization of the optional value(s). I think `Not Applicable` better aligns with what is accepted for other attributes?

[2022-11-29 16:48] adamjtaylor commented on #85
@clarisse-lau yes we will be having a bigger review of valid values in #126 to make sure we are better harmonised both across the data model and with what centers have used when attributes were uncontrolled.

[2022-11-29 16:49] clarisse-lau commented on #85
great, thank you!